:root{
    --text-blue: hsl(238, 29%, 16%);
    --text-darkblue: hsl(240, 6%, 50%);
    --text-extradarkblue: hsl(237, 12%, 33%);
    --text-red: hsl(14, 88%, 65%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    --divider-blue: hsl(240, 5%, 91%);

}
html {
    box-sizing: initial;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 3rem;
    font-family:'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(var(--gradient-violet),
    var(--gradient-blue));
}

.card{
background: #fff;
border-radius: 2rem;
max-width: 56rem;
margin: 3rem;
}

.card-image img{
width: 100%;
height: auto;
max-width: 25rem;

}

.card-text{

}

@media (min-width: 56em){
    .card{
        display: flex;
        margin: 7rem auto;
        padding-right: 2rem;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 center;
    }

    .card-image, .card-text{
      flex: 1;
    }

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }